<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head.ejs') %>
        <title>Your Crists</title>
</head>

<body>
    <h1>Login</h1>
    <form action="/" method="POST">
        Email: <input type="email" id="email" name="email" required><br>
        Password: <input type="password" id="password" name="password" required><br>
        <input type="submit" value="Login">
    </form>
    <form action="/register" method="GET">
        <input type="submit" value="Register">
    </form>
</body>

</html>