<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('/Users/generalassembly/dev/Project2/crists/views/paritals/head.ejs') %>
    <title>Your Crists</title>
</head>
<body>
    <h1>Crists</h1>
    <p>Your Crists</p>
    <a href="/new"><button>+</button></a>
</body>
</html>