<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head.ejs') %>
        <title>Your Crists</title>
</head>

<body>
    <div class="container">
        <div class="pageTitle">
            <h1>New Crists</h1>
        </div>
        <div class="content">
            <div id="small">
            <form action="/" method="POST">
                Name: <input type="text" name="name"><br>
                Items:<input type="text" name="items"><br>
                <input type="text" name="items"><br>
                <input type="text" name="items"><br>
                <input type="text" name="items"><br>
                <input type="text" name="items"><br>
                <input type="submit" value="Create">
            </form>
        </div>
        </div>
        <div class="addButton">
            <a href="/"><button>Back</button></a>
        </div>
    </div>
</body>

</html>