<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
    <title>Your Crists</title>
</head>
<body>
    <div class="container">
        <h1>New Crists</h1>
        <form action="/" method="POST">
            Name: <input type="text" name="name"><br>
            Items: <input type="text" name="items"><br>
            <!-- <button class = "newForm">Add </button>
            <% %> -->
            <!-- on button click, create a new input-->
            <input type="submit" value="Create">
        </form>
    </div>
    <a href="#"><button>+</button></a>
    <a href="#"><button><</button></a>
</body>
</html>