<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head.ejs') %>
        <title>Register</title>
</head>

<body>
    <form action="/register" method="POST">
        Name: <input type="text" name="name" required><br>
        Email: <input type="email" id="email" name="email" required><br>
        Password: <input type="password" id="password" name="password" required><br>
        <input type="submit" value="Register">
    </form>
    <form action="/" method="GET">
        <input type="submit" value="Login">
    </form>
</body>

</html>