<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
    <title>Crists</title>
</head>
<body>
    <!-- for the things needed array, have an edit and delete button next to each -->
    <!-- when editing, just have the  -->
    <h1> <%= list.name %></h1>
    <ul>
        <% for (let i = 0; i < list.items.length; i++){%>
            <li>
                <% list.items[i] %>
            </li>
        <% } %>
    </ul>
    <form action="/<%=list.id%>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE">
    </form>
    <a href="/<%=list.id%>/edit"><button>Edit</button></a>
</body>
</html>