<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
    <title>Crists</title>
</head>
<body>
    <!-- for the things needed array, have an edit and delete button next to each -->
    <!-- when editing, just have the  -->
    <h1>show</h1>
</body>
</html>